<div>
  <p>Hello, this a secret page!</p>
    <figure ng-controller="MapCtrl">
      <gmap id="map" center="current-location" zoom="15"></gmap>
      <map-marker
        ng-repeat="location in locations"
        ng-class="{'active':location.isActive}"
        ng-style="{'background-image':'url(' + location.url + ')'}"
        ng-mouseenter="location.isActive=true"
        ng-mouseleave="location.isActive=false">
        <div ng-mouseenter="options=true" ng-mouseleave="options=false">
          <div id="username" ng-show="options">{{location.name}}</div>
          <div id="caption" ng-show="options">{{location.caption}}</div>
        </div>
      </map-marker>
    </figure>

    <ul ng-controller="LocationsCtrl">
      <li id="photo-list"
        ng-repeat="location in locations"
        ng-mouseenter="location.isActive=true"
        ng-mouseleave="location.isActive=false">
        {{location.name}}
      </li>
    </ul>
</div>