<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://maps.googleapis.com/maps/api/js"> </script>
  <script src="../../bower_components/ngmap/build/scripts/ng-map.min.js"> </script>

  <!-- <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"> -->
  <!-- <script src="../../assets/bower_components/angular/angular.js"></script> -->
  <!-- <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/satellizer/satellizer.js"></script> -->
  <!--<script src="javascripts/app.js"></script>
  <script src="javascripts/application.js"></script>
  <script src="javascripts/controllers/authController.js"></script>
  <script src="javascripts/controllers/homeController.js"></script> -->
  <!-- <script src="javascripts/controllers/navbarController.js"></script>
  <script src="javascripts/controllers/GeoLocationController.js"></script>
  <script src="javascripts/controllers/MapController.js"></script>
  <script src="javascripts/controllers/MarkerController.js"></script>
  <script src="javascripts/controllers/LocationController.js"></script>
  <script src="javascripts/services/MapMarkerService.js"></script>
  <script src="javascripts/services/LocationFactory.js"></script>
  <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
  <script src="javascripts/controllers/InstagramController.js"></script>
  <script src="javascripts/services/GetTagsService.js"></script>
  <script src="javascripts/services/infoTransferService.js"></script>
  <script src="javascripts/services/GetImagesByTagService.js"></script>
  <script src="javascripts/services/GetImageByLocationService.js"></script>
  <script src="javascripts/directives/serverError.js"></script>
  <script src="javascripts/services/GetGeocodeService.js"></script>
  <title>Brim Photo Search</title>
  <!<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-touch.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body ng-app="brimApp">
<!-- <div ui-view></div> -->
  <!-- <div class="container" ng-view> -->
    <%= yield %>
  <!-- </div> -->

</body>
</html>
